.main-component{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    .user-box{
        height: 27vh;
        width: 24vw;
        background-color: white;
        margin:1vh 1vw 1vh 1vw;
    
        border-radius: 5px;
        box-shadow: 3px 8px 15px rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        &:hover{
            box-shadow: 3px 8px 15px rgba(0, 0, 0, 0.5);
            height: 28vh;
            width: 25vw;
        }
        display: flex;
        justify-content: center;
        align-items: center;

        text{
            font-size: 80px;
        }
    }
}